// Function to assign a font-size & line-height to each label
// in the $fsizes variable based on a chosen scale
@mixin make-sizes($fs, $this-bp-scale) {
  $actual-font: loop-pos($fs, $this-bp-scale);
  $line-height: ceil($actual-font / $main-vertical-rhythm) * $main-vertical-rhythm / $actual-font;

  font-size: $actual-font;
  line-height: rd($line-height, 100);
}