// Set your breakpoints in a map:
// Feel free to use any unit you like (px vs ems)
$breakpoints: (
  default: 0em,
  medium: 37.5em,
  large: 68em,
  xlarge: 82em
) !default !global;

// Assign a base font-size for each breakpoint
$bp-font-size: (
  default: 16px,
  medium: 18px,
  large: 21px,
  xlarge: 23px
) !default !global;

// Assign a base line-height for each breakpoint
$bp-line-height: (
  default: 1.33,
  medium: 1.414,
  large: 1.5,
  xlarge: 1.618
) !default !global;

// Assign a scale to each breakpoint.
// NOTE: This is mobile first, so the first $scale will be assigned without a MQ.
// Subsequent breakpoints will draw MQ values from $breakpoints map.
$bp-scales: (
  default: hexatonic,
  medium: pentatonic,
  large: quad,
  xlarge: major-triad
) !default !global;
