// If you need a "small" font-size (one scale step below your default), set $startsmall: true;
$startsmall: true !default;

// Set your default font-size here:
$main-font: 21px !default;

// Set your paragraph line-height (vertical rhythm) here:
$rhythm: 1.618  !default;

// Put all your individual font-sizes in this list:
$fsizes: (
  sm, p, bq, ssh, sh, h, hero
) !default;

